.container {
    background-color: aliceblue;
    /* height: auto; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* margin: 1em auto; */
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}