
.form{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    
    gap: 3rem;
    
}

.select{
    align-items: center; 
    display: flex;
    gap: 0.5rem;
}

.select select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.6rem;
  width: 12rem;
  height: 3rem;
  padding-left: 0.6em;
  
  border-radius: 1rem;
  border: 0.1rem solid rgb(144, 142, 142);
  outline: none;
  background-color: lightgray;
  color: black;
  
  transition: all 0.2s ease-in-out;
}

select:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.4rem 1.7rem rgba(0, 0, 0, 0.35);
}

