
.form{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    
    gap: 2rem;
    
    margin-left: 3rem;
}

.select{
    align-items: center; 
    display: flex;
    gap: 0.5rem;
}

.select select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.6rem;
  width: 12rem;
  height: 3rem;
  padding-left: 0.6em;
  
  border-radius: 1rem;
  border: 0.1rem solid rgb(144, 142, 142);
  outline: none;
  background-color: lightgray;
  color: black;
  
  transition: all 0.2s ease-in-out;
}

select:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.4rem 1.7rem rgba(0, 0, 0, 0.35);
}


.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 1.5rem;
}

.card {
    all: unset;
    border-radius: 1rem;
    border: 0.1rem solid #eee;
    background-color: #fafafa;
    height: 4rem;
    width: 20rem;
    padding: 1.6rem;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    
    gap: 0.6rem;
    cursor: pointer;
}

.card span{
    font-size: 1.5rem;
}

.card:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.4rem 1.7rem rgba(0, 0, 0, 0.35);
    color: #124699;
}

.card:hover .materialIcons path{
    fill: black;
}

.materialIcons {
    height: 2.4rem;
    width: auto;
  
}

.materialIcons path {
    fill: #888;
} 
