
.selects{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: column;
    gap: 4px;
    align-items: center;
    /* justify-items: center; */
}

.container{
    display: flex;
    gap: 1rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    justify-content: start;
    gap: 2px;
}

.buttons>button{
    background-color: beige;
    border-color: black;
    border-radius: 8px;
    width: 18px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}